<div style="display: flex">
  <h2 style="display: flex; align-items: center; margin-bottom: 1rem">
    Test Weekly Recurrence Rule
  </h2>
</div>
<div>
  <div style="display: flex">
    <label style="display: flex; align-items: center; margin-right: 1rem">Start Time: </label>
    <ngb-timepicker [(ngModel)]="startTime" [seconds]="true" [meridian]="true"></ngb-timepicker>
  </div>
  <div>
    <label style="margin-right: 1rem">Start Date: </label>
    <input type="text" ngbDatepicker #d="ngbDatepicker" [(ngModel)]="startDate"/>
    <button (click)="d.toggle()">V</button>
  </div>
  <div>
    <div style="display: flex">
      <label style="margin-right: 1rem">Repeat on: </label>
      <div style="margin-right: 0.5rem">
        <label>Mon</label>
        <input type="checkbox" [checked]="isChecked(0)" value="{{RRule.MO}}" #mon id="mon" (change)="setWeekday(mon.checked, RRule.MO)">
      </div>
      <div style="margin-right: 0.5rem">
        <label>Tue</label>
        <input type="checkbox" [checked]="isChecked(1)" value="{{RRule.TU}}" #tu id="tu" (change)="setWeekday(tu.checked, RRule.TU)">
      </div>
      <div style="margin-right: 0.5rem">
        <label>Wed</label>
        <input type="checkbox" [checked]="isChecked(2)" value="{{RRule.WE}}" #we id="we" (change)="setWeekday(we.checked, RRule.WE)">
      </div>
      <div style="margin-right: 0.5rem">
        <label>Thu</label>
        <input type="checkbox" [checked]="isChecked(3)" value="{{RRule.TH}}" #th id="th" (change)="setWeekday(th.checked, RRule.TH)">
      </div>
      <div style="margin-right: 0.5rem">
        <label>Fri</label>
        <input type="checkbox" [checked]="isChecked(4)" value="{{RRule.FR}}" #fr id="fr" (change)="setWeekday(fr.checked, RRule.FR)">
      </div>
      <div style="margin-right: 0.5rem">
        <label>Sat</label>
        <input type="checkbox" [checked]="isChecked(5)" value="{{RRule.SA}}" #sa id="sa" (change)="setWeekday(sa.checked, RRule.SA)">
      </div>
      <div style="margin-right: 0.5rem">
        <label>Sun</label>
        <input type="checkbox" [checked]="isChecked(6)" value="{{RRule.SU}}" #su id="su" (change)="setWeekday(su.checked, RRule.SU)">
      </div>
    </div>
  </div>
  <div>
    <label style="margin-right: 2rem">Ends at: </label>
    <input type="text" ngbDatepicker #d2="ngbDatepicker" [(ngModel)]="endsDate"/>
    <button (click)="d2.toggle()">V</button>
  </div>
  <div>
    <button (click)="convert()">Convert</button>
    <button (click)="clear()">Clear</button>
  </div>

  <div style="margin-top: 2rem; border: red; ">
    <input type="text" [(ngModel)]="encodedRule"><button (click)="decode()">Decode</button>
  </div>

  <div style="margin-top: 3rem">
    <div><label>RRule Expression: </label>{{rrule}}</div>
    <div><label>Description: </label>{{nlp}}</div>
    <div><label>Cron Expression: </label>{{cron}} <label style="color: red" *ngIf="cron">(Not working in <a href="https://crontab.guru/">https://crontab.guru/</a>)</label></div>
  </div>
</div>

<div>
  <label *ngIf="error">{{error}}</label>
</div>

